extends layout

block header
  h1= title

block content

  p Por favor llene cada una de las casillas para el #{title}
  -var provinces = ["Azuay","Bolivar","Canar","Carchi","Chimborazo","Cotopaxi","El Oro","Esmeraldas","Galapagos","Imbabura","Loja","Los Rios","Manabi","Morona Santiago","Napo","Orellana","Pastaza","Pichincha","Santa Elena","Santo domingo de los Tsachilas","Sucumbios","Tungurahua","Zamora Chinchipe"]

  form(action="/students/student", method="post")
    div.input
      br
      span.label Nombre
      br
      input(type="text", name="studentName")
      br
      span.label Apellido
      br
      input(type="text", name="studentLastName")
      br
      span.label Genero
      br
      select(id='studentGenere', name="studentGenere")
        option(value='male') Male
        option(value='female') Female
      br
      span.label Identidad
      br
      input(type="text", name="studentIdent")
      br
      span.label Correo electronico
      br
      input(type="text", name="studentEmail")
      br
      span.label Contrasena de estudiante
      br
      input(type="password", name="studentPassword")
      br
      span.label seleccione su condicion academica
      br
      select(id='studentRol', name='studentRol')
        option(value='student') Estudiante
        option(value='graduate') Pasante
        option(value='professional') Graduado, Egresado o Profesional
      br 
      span.label Selecciones lugar de residencia o procedencia
      br
      select(id='studentProvince', name='studentProvince')
        each val in provinces
          option(value=val) #{val}
      br 
      //-span.label Tutor del estudiante
      //-br
      //-select(id='selectTutor', name="studentTutor")
        //-each val in tutors
          //-option(value=val._id) #{val.Name} #{val.LastName}
      //-br
      //-span.label Periodo de estudiante
      //-br
      //-select(id='studentPeriod', name="studentPeriod")
        //-option(value='2015-A') 2015-A
        //-option(value='2015-B') 2015-B
      //-br
      //-span.label Creditos acumulados de estudiante
      //-br
      //-input(type="number", name="studentCreditsAc")
      //-br
      //-span.label Codigo de estudiante
      //-br
      //-input(type="number", name="studentCod")
      //-br
      //-span.label Numero Celular de estudiante
      //-br
      //-input(type="number", name="studentPhone")
      //-br
      //-span.label Numero telefonico convencional de estudiante
      //-br
      //-input(type="number", name="studentCellPhone")
      //-br
    div.actions
      input(type="submit", value="Enviar")

block sidebar
  h1
  p
    | Menu
  li
    a(href='/createStudent') Crear cuenta estudiante
  li
    a(href='/createTutor') Crear cuenta tutor
    
