extends layout

block content
  h1= title
  p Por favor llene cada una de las casillas para el #{title}
  form(action="/createQuiz/sendForm", method="post")
    div.input

      br
      each val, index in prueba.questions
        br
        br
        span.label #{val.q}
        br
        if (val.a)
          select(name=index)
            each vl, ind in val.a
              option(value=ind) #{vl}
        if (val.inp)
          input(type="text", name=index)

      br

    div.actions
      input(type="submit", value="Enviar")


 