extends layout

block content
  h1= title
  div
    table(border='1')
      tr: #{title}
        th Cantidad
        th Codigo
        th Identificacion
        th Nombre
        th Carrera
      if (students)
      each val, index in students
        tr
          td= index
          td= val.studentCod
          td= val.studentIdent
          td= val.studentName + ' ' + val.studentLastName
          td= val.studentCareer
          td 
            a(href="/students/delete/" + val._id.toString()) Borrar
  button(type="button",onclick="location.href='/createStudent';").
    Crear Estudiante

      
