extends layout

block content
  h1= title
  div
    table(border='1')
      tr: #{title}
        th Cantidad
        th Codigo
        th Identificacion
        th Nombre
        th Apellido
        th Carrera
      if (students)
      each val, index in students
        tr
          td= index
          td
            a(href="/students/students/" + val._id.toString()) #{val.studentIdent}          
          td= val.studentCod
          td= val.studentName
          td= val.studentLastName
          td= val.studentCareer
          td 
            a(href="/students/delete/" + val._id.toString()) Borrar
      
