extends layout

block content
  h1= title
  div
    table
      thead
        tr: #{title}
      tbody
      each val, index in students
        tr
          td= index + ' ' + val.studentName
          td= val.studentLastName
          td= val.studentEmail
          td= val.studentTutor
          td= val.studentPhone
          td= val.studentCareer
          td= val.studentPeriod
          td= val.studentCellPhone
          td= val.studentCreditsAc
          td= val.studentCod
          td= val.studentIdent
      
