extends layout

block content
  script(src='./javascripts/main.js')
  h1= title
  div
  table(border='1')
    tr: #{title}
      th Identificacion
      th Codigo
      th Cantidad
      th Nombre
      th Cant Est
    each val, index in tutors
      tr
        td= index
        td= val.tutorIdent
        td= val.tutorCod
        td= val.tutorName + ' ' + val.tutorLastName
        td= val.tutorCantStudents
        td
          a(href="/tutors/delete/" + val._id.toString()) Borrar
        
        
 