extends layout

block header
  h1= title

block content
  div
    table(border='1')
      tr: #{title}
        th Cantidad
        th Titulo
        th Nota
      if (notes)
      each val, index in notes
        tr
          td= index
          td= val.title
          td= val.note
          td 
            a(href="/notes/delete/" + val._id.toString()) Borrar
  button(type="button",onclick="location.href='/createNote';").
    Crear Nota
block sidebar
  h1
  p
    | Menu
  li
    a(href='/createStudent') Crear cuenta estudiante
  li
    a(href='/createTutor') Crear cuenta tutor