extends layout

block header
  h1= title

block content
  div
  table(border='1')
    tr: #{title}
      th Numero
      th Nombre
      th Rol
    each user, index in users
      tr
        td= index
        td= user.Name
        td= user.Rol
        td
          a(href="/users/delete/" + user._id.toString()) Borrar
block sidebar
  h1
  p
    | Menu
  li
    a(href='/createStudent') Crear cuenta estudiante
  li
    a(href='/createTutor') Crear cuenta tutor