extends layout

block content
  h1= title
  div
    table(border='1')
      tr: #{title}
        th Cantidad
        th Codigo
        th Identificacion
        th Nombre
        th Carrera
      if (students)
      each val, index in students
        tr
          td= index
          td= val.Cod
          td= val.Ident
          td= val.Name + ' ' + val.LastName
          td= val.Career
          td 
            a(href="/students/delete/" + val._id.toString()) Borrar
          td
            a(href="../../createNote/" + val._id.toString()) Crear Nota
  button(type="button",onclick="location.href='/createStudent';").
    Crear Estudiante

      
