extends layout

block content
  h1= title
  p Por favor llene cada una de las casillas para el #{title}

  form(action="", method="")
    div.input
  
      span.label Tutor del estudiante
      br
      select(id='selectTutor', name="studentTutor")
        each val in tutors
          option(value=val._id) #{val.Name} #{val.LastName}
      br
      span.label Periodo de estudiante
      br
      select(id='studentPeriod', name="studentPeriod")
        option(value='2015-A') 2015-A
        option(value='2015-B') 2015-B
      br
      span.label Creditos acumulados de estudiante
      br
      input(type="number", name="studentCreditsAc")
      br
      span.label Codigo de estudiante
      br
      input(type="number", name="studentCod")
      br
      span.label Numero Celular de estudiante
      br
      input(type="number", name="studentPhone")
      br
      span.label Numero telefonico convencional de estudiante
      br
      input(type="number", name="studentCellPhone")
      br
    div.actions
      input(type="submit", value="Enviar")
    br
  